<mat-drawer-container style="height: 100%;">
  <mat-drawer mode="side" opened style="width: 300px;">
    <div class="p-3">
      <h2 class="mb-0">FirJs Demo</h2>
    </div>
    <mat-divider></mat-divider>
    <mat-list role="list">
      <mat-list-item role="listitem" routerLink="/default" routerLinkActive="active">
        Default
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item role="listitem" routerLink="/custom" routerLinkActive="active">
        Custom
      </mat-list-item>
      <mat-divider></mat-divider>
    </mat-list>
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
